<div class="flex flex-col">
  <h2 class="font-bold">Management:</h2>
  <ul>
    <li>
      <%= link_to 'Events', project_path(@project), class: 'py-2 block hover:bg-gray-100' %>
    </li>
    <li>
      <%= link_to 'Team', project_members_path(@project), class: 'py-2 block hover:bg-gray-100' %>
    </li>
    <li>
      <%= link_to 'Settings', project_settings_path(@project), class: 'py-2 block hover:bg-gray-100' %>
    </li>
  </ul>
</div>
