<%= turbo_stream_from @project %>
<div class="slider">
  <% Event.statuses.each_key do |status| %>
    <%= render partial: 'projects/events_collection', locals: { project_id: @project.id, status: status } %>
  <% end %>
</div>
